template(name="boardList")
  .wrapper
    ul.board-list.clearfix
      li.js-add-board
        a.board-list-item.label
          i.fal.fa-plus
          br
          | {{_ 'add-board'}}
      each boards
        li(class="{{#if isStarred}}starred{{/if}}" class=colorClass)
          if isInvited
            .board-list-item
              span.details
                span.board-list-item-name= title
                i.js-star-board(
                  class="fa-star{{#if isStarred}} is-star-active{{else}} fas{{/if}}"
                  title="{{_ 'star-board-title'}}")
                p.board-list-item-desc {{_ 'just-invited'}}
                button.js-accept-invite.primary {{_ 'accept'}}
                button.js-decline-invite {{_ 'decline'}}
          else
            a.js-open-board.board-list-item(href="{{pathFor 'board' id=_id slug=slug}}")
              span.details
                span.board-list-item-name= title
                i.js-star-board(
                  class="fa-star{{#if isStarred}} fas is-star-active{{else}} fal{{/if}}"
                  title="{{_ 'star-board-title'}}")

                if hasSpentTimeCards
                  i.fal.js-has-spenttime-cards(
                    class="fa-circle{{#if hasOvertimeCards}} has-overtime-card-active{{else}} no-overtime-card-active{{/if}}"
                    title="{{#if hasOvertimeCards}}{{_ 'has-overtime-cards'}}{{else}}{{_ 'has-spenttime-cards'}}{{/if}}")
                div.board-list-item-desc
                  +viewer
                    = description

template(name="boardListHeaderBar")
  .board-header-btns.left
    a.board-header-btn.js-open-home-view(title="{{_ 'home-view'}}")
      if $eq currentUser.profile.homeView "home-view-teams"
        i.far.fa-user-circle-o
        span {{_ 'home-view-teams'}}
      if $eq currentUser.profile.homeView "home-view-activities"
        i.far.fa-comments-o
        span {{_ 'home-view-activities'}}
      if $eq currentUser.profile.homeView "home-view-reports"
        i.far.fa-pie-chart
        span {{_ 'home-view-reports'}}
      if $eq currentUser.profile.homeView "home-view-files"
        i.fal.fa-file-pdf-o
        span {{_ 'home-view-files'}}
      else
        i.far.fa-th
        span {{_ 'my-boards'}}
  .board-header-btns.right
    a.board-header-btn.js-open-archived-board
      i.fal.fa-archive
      span {{_ 'archives'}}
    a.board-header-btn(href="{{pathFor 'board' id=templatesBoardId slug=templatesBoardSlug}}")
      i.fal.fa-clone
      span {{_ 'templates'}}

template(name="homeListHeaderPopup")
  +homeListHeader

template(name="homeListHeader")
  ul.pop-over-list.list-change-home-view
    li
      a.js-toggle-home-view-boards
        i.far.fa-th.color-pink
        span {{_ 'my-boards'}}
    li
      a.js-toggle-home-view-teams
        i.far.fa-user-circle.color-teal
        span {{_ 'home-view-teams'}}
    li
      a.js-toggle-home-view-activities
        i.far.fa-comments.color-red
        span {{_ 'home-view-activities'}}
    li
      a.js-toggle-home-view-files
        i.far.fa-file-pdf.color-wisteria
        span {{_ 'home-view-files'}}
    li
      hr
    li
      a.js-toggle-home-view-reports
        i.fal.fa-chart-pie-alt.color-yellow
        span {{_ 'home-view-reports'}}
